---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro';
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-subtitle">连续对话写稿模式</span>
    <span class="ml-1 text-xl op-60">baozao365升级版</span>
  </div>
</header>
